In [24]:
import pandas as pd
import sqlite3

database = "data/database.sqlite3"
db_summarize = "sql/db_summary.sql"

connection = sqlite3.connect(database)
cursor = connection.cursor()

def fetchQuery(query=""):
    return pd.DataFrame(cursor.execute(query).fetchall())

def fetchQuery(path=""):
    with open(path) as queryfile:
        return pd.DataFrame(cursor.execute(queryfile.read()).fetchall())
    
def executeQuery(path=""):
    with open(path) as queryfile:
        cursor.executescript(queryfile.read())

#### Tables in the database:

In [25]:
executeQuery(db_summarize)

OperationalError: view [column_names] cannot reference objects in database sys

#### Columns of each table:

In [23]:
connection.close()